@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 2.1875rem;
  background: #1c1c1c;
  color: white;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.center {
  text-align: center;
}


.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding: 0 .3125rem;
  height: 100%;
  flex-wrap: wrap;
}

.heading>h1 {
  font-size: 2.1875rem;
}

.cpage>a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  margin-right: 1.5625rem;
  margin-bottom: 15px;
}

.intro {
  border-radius: 2.1875rem;
  width: 65%;
  display: flex;
  gap: 3.125rem;
  padding: 1.5625rem;
  justify-content: center;
  flex-wrap: wrap;
  background: #252525;
  margin-left: 16vw;
}



.intro-image>img {
  width: 100%;
  max-width: 21.875rem;
}


.txt {
  width: 100%;
  max-width: 31.25rem;
  text-align: left;
  font-size: 1.25rem;
}

.section {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 62.5rem;
  margin-bottom: 5.3125rem;
}

.section>p {
  font-size: 1.5625rem;
}

.button {
  display: block;
  width: 100%;
  max-width: 190px;
  margin: 0 auto;
}

.hero-cta-link {
  background-color: #252525;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 16, 160);
  font-size: 1.5625rem;
  /* margin-left: 40vw; */
  padding: .9375rem;
  border-radius: 2.1875rem;
  font-family: 'montserrat';
  margin-bottom: 3.125rem;
}

.hero-cta-link:hover {
  background: rgb(255, 16, 160);
  color: black;
  transition: .5s ease;
}

.animate-charcter {
  font-family: 'montserrat';
}

.rb {
  padding: 15px;
  display: block;
  width: 100%;
  max-width: 93.75rem;
  margin-top: 5.3125rem;
}

.rb>p {
  margin-bottom: .9375rem;
}

.rb>h2 {
  text-align: center;
  font-size: 2.5rem;
  font-style: italic;
  color: rgb(255, 4, 154);
  font-weight: bold;
  padding-bottom: 2.1875rem;
}

.logo-container {
  margin: .9375rem 0;
  width: 100%;
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 3.125rem;
}


.brand>h1,
.brand>h6,
.footer>h2 {
  color: rgb(255, 4, 154);
  margin: 0 auto;
  margin-bottom: 3.125rem;
  text-align: center;
}

.social-link {
  margin-top: -4.0625rem;
}

.social-nav-container {
  justify-content: center;
  padding: .625rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.social-nav-container h2 {
  color: white;
  font-size: 1.875rem;
}

.link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

.social-nav-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.social-nav-item {
  list-style-type: none;
  font-size: 2.5rem;
  background: none;
  padding-right: 2.5rem;
}

.social-nav-item:nth-child(odd):hover {
  list-style-type: none;
  color: rgb(75, 152, 245);
  margin-left: 2.5rem;
}

.copyright {
  text-align: center;
  color: white;
  background: #2a2a2a;
  padding: .625rem;
}

.fa-youtube:hover {
  color: red;
}

.fa-instagram:hover {
  /* border: 2kpx solid red; */

  color: #d6249f;
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  /* box-shadow: 0px 3px 10px rgba(0, 0, 0, .25); */
}

.instagram-link>i {
  color: #d6249f;
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  font-size: 1.25rem;
}

/* ADVANCE HTML */

.desc {

  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

#corporate {
  width: 100%;
  max-width: 550px;
  display: block;
  border-radius: 10px;
}

.desc>p {
  margin-top: 20px;
  width: 100%;
  max-width: 650px;
  text-align: center;
  position: relative;
  margin-left: 4%;
  font-size: 22px;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-style: bold;
  padding-bottom: 20px;
}

#graph {
  width: 100%;
  max-width: 1800px;
}

.adv-intro {
  border-radius: 2.1875rem;
  width: 100%;
  max-width: 797px;
  display: flex;
  gap: 3.125rem;
  padding: 35px;
  justify-content: center;
  flex-wrap: wrap;
  background: #252525;
  margin: 0 auto;
  margin-top: 5%;
}

.adv-txt {
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-size: 1.25rem;
}

.adv-animate-charcter {
  width: 100%;
  text-align: center;
  font-family: 'montserrat';
}

table {
  margin: 25px auto
}

.td {
  font-size: 15px;
  /* border: 2px solid red; */
  padding: 15px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}




/* ----------------
RESPONSIVE PART
---------------- */




@media screen and (max-width:768px) {
  * {
    /* border: 2px solid #285AEB; */
  }

  body {
    padding: 15px;
  }

  .main {
    justify-content: center;
    gap: 70px;
  }

  .heading>h1 {
    text-align: center;
  }

  .cpage {
    margin: 0 auto;
    margin-left: 1.5625rem;
  }

  .cpage>a {
    margin-bottom: 35px;
    text-align: center;

  }

  .section>p {
    text-align: center;
    padding: .3125rem;
  }


  .gl1 {
    margin-bottom: 1.5625rem;
  }

  .adv-intro {
    margin-top: 55px;
    margin-left: 0;
  }

  .footer-container {
    height: 480px;
    width: 100%;
  }

  .social-nav-list {
    justify-content: flex-start;
    margin-left: 10vw;
    margin-right: -85px;
  }

  .social-nav-item {
    font-size: 20px;
    background: none;
  }
}