.input-container{
    width: 250px;
    border: 1px solid #a9a9a9;
    display: inline-block;
}
.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    width: 80%;
    border: none;
}

.input-container button {
    float: right;
}

#message{
    position: relative;
    top: 10px;
    color:green;
  }
#err{
    position: relative;
    top: 10px;
    color:red;
  }